<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li>
                    <a href="/docs/providers/fortiweb/index.html">FortiWEB Provider</a>
                </li>
                <li>
                    <a href="#">Guides</a>
                    <ul class="nav nav-visible">
                        <li>
                            <a href="/docs/providers/fortiweb/guides/fweb_token.html">Generate an API token for FortiWEB</a>
                        </li>
                        <li>
                            <a href="/docs/providers/fortiweb/guides/fweb_filter.html">Filtering for FortiWEB</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">FortiWEB Resources</a>
                    <ul class="nav">
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_router_policy.html">fortiweb_router_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_router_static.html">fortiweb_router_static</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_persistence_policy.html">fortiweb_server_policy_persistence_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_persistence_policy.html">fortiweb_server_policy_persistence_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_server_pool.html">fortiweb_server_policy_server_pool</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_server_pool_pserver_list.html">fortiweb_server_policy_server_pool_pserver_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_service_custom.html">fortiweb_server_policy_service_custom</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_ssl_ciphers_custom.html">fortiweb_server_policy_ssl_ciphers_custom</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_vserver.html">fortiweb_server_policy_vserver</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_server_policy_vserver_vip_list.html">fortiweb_server_policy_vserver_vip_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_accprofile.html">fortiweb_system_accprofile</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_admin.html">fortiweb_system_admin</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_admin_settings.html">fortiweb_system_admin_settings</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ca.html">fortiweb_system_certificate_ca</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ca_group.html">fortiweb_system_certificate_ca_group</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ca_group_members.html">fortiweb_system_certificate_ca_group_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_crl.html">fortiweb_system_certificate_crl</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_crl_group.html">fortiweb_system_certificate_crl_group</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_crl_group_members.html">fortiweb_system_certificate_crl_group_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_hpkp.html">fortiweb_system_certificate_hpkp</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_intermediate_certificate.html">fortiweb_system_certificate_intermediate_certificate</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_intermediate_certificate_group.html">fortiweb_system_certificate_intermediate_certificate_group</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_intermediate_certificate_group_members.html">fortiweb_system_certificate_intermediate_certificate_group_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_letsencrypt.html">fortiweb_system_certificate_letsencrypt</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_letsencrypt_san_list.html">fortiweb_system_certificate_letsencrypt_san_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_local_generate_csr.html">fortiweb_system_certificate_local_generate_csr</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_local_import_certificate.html">fortiweb_system_certificate_local_import_certificate</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_multi_local.html">fortiweb_system_certificate_multi_local</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ocsp_responder.html">fortiweb_system_certificate_ocsp_responder</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ocsp_signing_certs.html">fortiweb_system_certificate_ocsp_signing_certs</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_ocsp_stapling.html">fortiweb_system_certificate_ocsp_stapling</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_offline_sni.html">fortiweb_system_certificate_offline_sni</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_offline_sni_members.html">fortiweb_system_certificate_offline_sni_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_server_certificate_verify.html">fortiweb_system_certificate_server_certificate_verify</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_sign_ca.html">fortiweb_system_certificate_sign_ca</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_sni.html">fortiweb_system_certificate_sni</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_sni_members.html">fortiweb_system_certificate_sni_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_tsl_ca.html">fortiweb_system_certificate_tsl_ca</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_urlcert.html">fortiweb_system_certificate_urlcert</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_urlcert_list.html">fortiweb_system_certificate_urlcert_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_verify.html">fortiweb_system_certificate_verify</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_xml_client_certificate.html">fortiweb_system_certificate_xml_client_certificate</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_xml_client_certificate_group.html">fortiweb_system_certificate_xml_client_certificate_group</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_xml_client_certificate_group_members.html">fortiweb_system_certificate_xml_client_certificate_group_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_certificate_xml_server_certificate.html">fortiweb_system_certificate_xml_server_certificate</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_dns.html">fortiweb_system_dns</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_ha.html">fortiweb_system_ha</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_maintenance_systemtime.html">fortiweb_system_maintenance_systemtime</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_ntp.html">fortiweb_system_ntp</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_ntp_ntpserver.html">fortiweb_system_ntp_ntpserver</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_snmp_community.html">fortiweb_system_snmp_community</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_snmp_community_hosts.html">fortiweb_system_snmp_community_hosts</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_snmp_sysinfo.html">fortiweb_system_snmp_sysinfo</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_snmp_user.html">fortiweb_system_snmp_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_snmp_user_hosts.html">fortiweb_system_snmp_user_hosts</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_sso_admin.html">fortiweb_system_sso_admin</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_system_vip.html">fortiweb_system_vip</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_admin_usergrp.html">fortiweb_user_admin_usergrp</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_admin_usergrp_members.html">fortiweb_user_admin_usergrp_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_kerberos_user.html">fortiweb_user_kerberos_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_kerberos_user_server_members.html">fortiweb_user_kerberos_user_server_members</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_ldap_user.html">fortiweb_user_ldap_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_ldap_user_extracted_attritubes.html">fortiweb_user_ldap_user_extracted_attritubes</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_ntlm_user.html">fortiweb_user_ntlm_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_oauth_user_server.html">fortiweb_user_oauth_user_server</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_radius_user.html">fortiweb_user_radius_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_recaptcha_user.html">fortiweb_user_recaptcha_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_user_tacacs_user.html">fortiweb_user_tacacs_user</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_allow_method_exceptions.html">fortiweb_waf_allow_method_exceptions</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_allow_method_exceptions_allow_method_exception_list.html">fortiweb_waf_allow_method_exceptions_allow_method_exception_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_allow_method_policy.html">fortiweb_waf_allow_method_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_allowed_origins.html">fortiweb_waf_allowed_origins</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_allowed_origins_origin_list.html">fortiweb_waf_allowed_origins_origin_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_cors_protection_rule.html">fortiweb_waf_cors_protection_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_cors_protection_rule_allowed_headers_list.html">fortiweb_waf_cors_protection_rule_allowed_headers_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_cors_protection_rule_allowed_methods_list.html">fortiweb_waf_cors_protection_rule_allowed_methods_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_cors_protection_rule_exposed_headers_list.html">fortiweb_waf_cors_protection_rule_exposed_headers_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_custom_protection_group.html">fortiweb_waf_custom_protection_group</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_custom_protection_group_type_list.html">fortiweb_waf_custom_protection_group_type_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_custom_protection_rule.html">fortiweb_waf_custom_protection_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_custom_protection_rule_meet_condition.html">fortiweb_waf_custom_protection_rule_meet_condition</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_file_upload_restriction_policy.html">fortiweb_waf_file_upload_restriction_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_file_upload_restriction_policy_rule.html">fortiweb_waf_file_upload_restriction_policy_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_file_upload_restriction_rule.html">fortiweb_waf_file_upload_restriction_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_file_upload_restriction_rule_file_types.html">fortiweb_waf_file_upload_restriction_rule_file_types</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_constraints_exceptions.html">fortiweb_waf_http_constraints_exceptions</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_constraints_exceptions_http_constraints_exception_list.html">fortiweb_waf_http_constraints_exceptions_http_constraints_exception_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_header_security.html">fortiweb_waf_http_header_security</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_header_security_exception.html">fortiweb_waf_http_header_security_exception</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_header_security_exception_list.html">fortiweb_waf_http_header_security_exception_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_header_security_http_header_security_list.html">fortiweb_waf_http_header_security_http_header_security_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_http_protocol_parameter_restriction.html">fortiweb_waf_http_protocol_parameter_restriction</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_signature.html">fortiweb_waf_signature</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_parameter.html">fortiweb_waf_url_access_url_access_parameter</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_parameter_url_access_parameter_list.html">fortiweb_waf_url_access_url_access_parameter_url_access_parameter_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_policy.html">fortiweb_waf_url_access_url_access_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_policy_rule.html">fortiweb_waf_url_access_url_access_policy_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_rule.html">fortiweb_waf_url_access_url_access_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_access_url_access_rule_match_condition.html">fortiweb_waf_url_access_url_access_rule_match_condition</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_encryption_url_encrption_policy.html">fortiweb_waf_url_encryption_url_encrption_policy</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_encryption_url_encrption_policy_rule_list.html">fortiweb_waf_url_encryption_url_encrption_policy_rule_list</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_encryption_url_encrption_rule.html">fortiweb_waf_url_encryption_url_encrption_rule</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_encryption_url_encrption_rule_exceptions.html">fortiweb_waf_url_encryption_url_encrption_rule_exceptions</a>
				</li>
				<li>
				<a href="/docs/providers/fortiweb/r/fortiweb_waf_url_encryption_url_encrption_rule_url_list.html">fortiweb_waf_url_encryption_url_encrption_rule_url_list</a>
				</li>

						</ul>
					</li>
				<li>
                    <a href="#">FortiWEB Data Source</a>
                    <ul class="nav">
					<li>
					<a href="/docs/providers/fortiweb/d/fortiweb_test.html">fortiweb_test</a>
					</li>

                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
